##############
### local
##############

server:
  port: 8321

spring:
  cloud:
    stream:
      function:
        definition: boardCreate
      kafka:
#        default:
#           consumer:
#             ack-mode: MANUAL_IMMEDIATE
        binder:
          autoCreateTopics: false
          brokers:
          - my-cluster.kafka.ktcloud.211.254.212.105.nip.io:32100
          - my-cluster.kafka.ktcloud.211.254.212.105.nip.io:32000
          - my-cluster.kafka.ktcloud.211.254.212.105.nip.io:32001
          - my-cluster.kafka.ktcloud.211.254.212.105.nip.io:32002
          configuration:
            security:
              protocol: SASL_PLAINTEXT
            sasl:
              mechanism: SCRAM-SHA-512
              jaas:
                config: org.apache.kafka.common.security.scram.ScramLoginModule required username="my-user" password="KykkJNJTcTJB";

      bindings:
        boardCreate-in-0:
          destination: edu-topic-02
          group: edu-group-02






